:root {
    --main-color-one: #3df0f5;
    --main-color-two: #03a4a8;
    --secondary-color-one: #f56911;
    --secondary-color-two: #ff8130;
    --h1-size:50px;
    --h2-size:2vw;
    --h4-size:1vw;
}

p{
    margin: 0;
}

h1 {
    color: var(--secondary-color-two);
    font-size:var(--h1-size);
}
h2{
    font-size:var(--h2-size);
}
h4{
    font-size:var(--h4-size);
}

.card-category{
    cursor: pointer;
    display: inline;
}

main{
    height: auto;


}

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
}



.my-card{

    /* background: rgb(183,222,237);
    background: -moz-linear-gradient(-45deg,  rgba(183,222,237,1) 0%, rgba(113,206,239,1) 15%, rgba(113,206,239,1) 25%, rgba(32,113,219,1) 56%, rgba(33,180,226,1) 86%, rgba(183,222,237,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 15%,rgba(113,206,239,1) 25%,rgba(32,113,219,1) 56%,rgba(33,180,226,1) 86%,rgba(183,222,237,1) 100%);
    background: linear-gradient(135deg,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 15%,rgba(113,206,239,1) 25%,rgba(32,113,219,1) 56%,rgba(33,180,226,1) 86%,rgba(183,222,237,1) 100%); */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=1 ); */
    /* margin-bottom: 10px;
    border-radius: 10%; */
   background-color:whitesmoke;
   box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.5);
   transition: 0.5s all linear;

}

.my-card:hover{
    transition:0.5s all linear;
    box-shadow: 0px 14px 20px 1px rgba(211, 134, 19,0.59);
}


.header {
    height: 500px;
}

.glass {
    font-size: 150px;
}

.mylogo {
    font-size: 12vw;
    color: var(--secondary-color-two);
}

.mybutton {
    display: inline-block;
    justify-content: center;
    background-color: var(--main-color-two);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 0px;
    width: 200px;
    height: 50px;
    transition: 0.5s all linear;
}
.mybutton:hover {
    transform: scale(1.2);
    transition: 0.5s all linear;
    background: linear-gradient(45deg, var(--secondary-color-two), var(--main-color-two));

}

.categorybutton:hover {
    transition: 1s all linear;
    background: linear-gradient(45deg, var(--secondary-color-two), var(--main-color-two));
}

.detailbutton {
    display: flex;
    justify-content: center;
    background-color: var(--main-color-two);
    border-radius: 50px;
    border: 0px;
    width: 200px;
    height: 50px;
}

.detailbutton:hover {
    transition: 1s all linear;
    background: linear-gradient(45deg, var(--secondary-color-two), var(--main-color-two))
}

.wrapper {
    display: flex;
    max-height: 100px;
   flex-direction: row;
}

.mycategories {
    display: flex;
    flex-direction: row;
}

.wrapper2 {
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    border-color: red !important;
    border: 5px !important;
    align-items: center;
}

.mybackground {
   background-color: rgba(24, 92, 94, 0.5);

   background: linear-gradient(rgba(7, 28, 29, 0.5) , rgba(7, 26, 27, 0.5)), url('/immaginipublic/acquisti.jpg');

   background-size: cover;
}

.research {
    width: 50%;
}

.info{
    margin: 0;
}

.goTo{
    color:black;
    text-decoration: none;
}
.goTo:hover{
    color: var(--main-color-two);
}

.categoryLink{
    color: var(--main-color-two);
    text-decoration: none;
    font-weight: bold;
}

.cardBody{
    display: inline-block;
}


.mediaSearch{
    display: flex;
}
@media all and (max-width: 992px) {
    .mediaSearch{
    display: flex;
    justify-content: center;
  }
}

.myIndex{
    z-index: 10;
}
