.my-navbar{
    z-index: 2;
    height: auto;
    width: 100%;
    position: fixed;
    transition: 0.5s all linear;
}
.nav-background{
    background-color: var(--main-color-two);
    transition: 0.5s all linear;
}

.colorNavbar {
    transition: 0.5s all linear;
    font-weight: 900;
    color: rgb(243, 151, 12);
}

.colorNavbar:hover {
    transition: 0.5s all linear;
    font-weight: 900;
    color: rgba(255, 115, 0, 0.762);
}

.header-logo{
    color: rgb(243, 151, 12);
}

.dropDownFlag{
    min-width: 0  !important ;
}

.navbar-light .navbar-nav .nav-link{
    color: rgb(243, 151, 12);
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgba(255, 115, 0, 0.762);
}

.mydropDawnChange{
    min-width: 0 !important;
}
