.mainShow{
    height: 100vh;
}

.infoContainer{
    width: 100%;
    height: 100%;
    background-color: white;
}

.containerShow{
    background-color: white;
    position: relative;
}

.caroulseShow{
    height: 200px;
}

.secondImage{
    background-color: red;
}

#imgCarousel{
    cursor: pointer;
}

.zoom{
    width: 500px;
    height: 500px;
    transition: all 1s linear;
}
